*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
h1{
    color: aqua;
    padding-bottom: 15px;
}
h3{
    color: yellowgreen;
    padding-bottom: 10px;
}
h4{
    color: white; 
    padding-bottom: 15px;
    padding-top: 10px;
}
.community{
    background-color: white;
    padding-left:20px;
    padding-top: 15px;
    padding-bottom: 50px;
    width: 70vw;
    height: 30vh;
    font-size: 0.8rem;
}
.subscription{
    background-color: skyblue;
    height: 35vh;
    padding-left: 30px;
    color: white;
    font-size: 0.9rem;
}
    .up{
    color: white;
    padding-left: 40px;
    background-color: yellowgreen;border: none;
}
.signup{
    border-radius: 5px;
    background-color: yellowgreen;
    width: 50%;
    padding: 10px 15px;
    margin-top: 35px;
    margin-left: 25px;
    border: 1px solid black;
}
.whyus{
    background-color: lightskyblue;
    height: 35vh;
    padding-left: 30px;
    font-size: 0.9rem;
    
}
ul {list-style-type:none;}
.greylines{
    color: grey;
}
@media screen and (min-width:786px){
    .community{
        padding: 30px;
        width:100vh ;
        height:40vh;
        font-size:20px; 
    }
    .whyus{
        width: 50%;
        height: 60vh;
        float: left;
        font-size: 20px;
    }
    .subscription{
        width: 50%;
        height: 60vh;
        float: left;
        font-size: 20px;
    }
    .signup{
        width: 200px;
        padding-left: 25px;
    }
  
}